body {
    padding: 50px;
}

table.top-level {
	border-collapse: collapse;
}

table.top-level td,
table.top-level th {
	border: 1px dotted #e1e1e1;
	padding: 1em;
	vertical-align: top;
}

form {
	padding: 4px 0;
}

tr.selected td {
	background-color: #f3f7f3;
}
