body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table.top-level,
table.columns {
	border-collapse: collapse;
}

table.top-level th,
table.top-level td,
table.columns th,
table.columns td {
	border: 1px dotted #e1e1e1;
	padding: 1em;
	vertical-align: top;
}

form {
	padding: 4px 0;
}

tr.selected td {
	background-color: #f3f7f3;
}

.hideme {
	visibility: hidden;
}

.showme {
	visibility: show;
}

div.menu {
	
}

div.crumbs {
	margin: 1.5em 0;
}

div.card {
	background-color: #fff;
	border: 2px solid #333;
	border-radius: 5px;
	color: #232323;
	margin: 4px 0;
	padding: 8px;
}

td.column {
	width: 400px;
}

td.column h1 {
	margin: 1em;
	width: 200px;
}

*.scroll {
	padding-bottom: 1.5em;
    overflow: auto;
}