extends ../layout

block content

	-
		var menuNames = { "localFamily" : "Family", 
							"localClient" : "Client",
							"localProject" : "Project",
							"localBoard" : "Board",
							"localColumn" : "Column",
							"localCard" : "Card",
							"localComment" : "Comment" };
		
		//
		// Families
		//					
		var familySortOrder = 1;
		if (remoteFamilies && remoteFamilies.length > 0) {
			familySortOrder = remoteFamilies.length + 1;
			// menuNames['localFamily'] = "Pick Family";
		}
		var localFamily = { familyId : 0, "name" : "", sortOrder : 1 }
		if (remoteFamily) {
			localFamily.familyId = remoteFamily._id;
			localFamily.name = remoteFamily.name;
			localFamily.sortOrder = remoteFamily.sortOrder;
			menuNames['localFamily'] = remoteFamily.name;
		}

		//
		// Clients
		//
		var clientSortOrder = 1;
		if (remoteClients && remoteClients.length > 0) {
			clientSortOrder = remoteClients.length + 1;
			// menuNames['localClient'] = "Pick Client";
		}
		var localClient = { clientId : 0, "name" : "", sortOrder : 1, familyId : "0" }
		if (remoteClient) {
			localClient.clientId = remoteClient._id;
			localClient.name = remoteClient.name;
			localClient.sortOrder = remoteClient.sortOrder;
			localClient.familyId = remoteClient.familyId;
			menuNames['localClient'] = remoteClient.name;
		}

		//
		// Projects
		//
		var projectSortOrder = 1;
		if (remoteProjects && remoteProjects.length > 0) {
			projectSortOrder = remoteProjects.length + 1;
			// menuNames['localProject'] = "Pick Project"
		}
		var localProject = { projectId : 0, "name" : "", sortOrder : 1, clientId : "0" }
		if (remoteProject) {
			localProject.clientId = remoteProject._id;
			localProject.name = remoteProject.name;
			localProject.sortOrder = remoteProject.sortOrder;
			localProject.familyId = remoteProject.familyId;
			menuNames['localProject'] = remoteProject.name;
		}

		//
		// Boards
		//
		var boardSortOrder = 1;
		if (remoteBoards && remoteBoards.length > 0) {
			boardSortOrder = remoteBoards.length + 1;
			// menuNames['localBoard'] = "Pick Board";
		}
		var localBoard = { boardId : 0, "name" : "", sortOrder : 1, clientId : "0" }
		if (remoteBoard) {
			localBoard.boardId = remoteBoard._id;
			localBoard.name = remoteBoard.name;
			localBoard.sortOrder = remoteBoard.sortOrder;
			localBoard.clientId = remoteBoard.clientId;
			menuNames['localBoard'] = remoteBoard.name;
		}

		//
		// Columns
		//
		var columnSortOrder = 1;
		if (remoteColumns && remoteColumns.columns && remoteColumns.columns.length > 0) {
			columnSortOrder = remoteColumns.columns.length + 1;
			// menuNames['localColumn'] = "Pick Column";
		}
		var localColumn = { columnId : 0, "name" : "", sortOrder : 1, boardId : "0" }
		if (remoteColumn) {
			localColumn.boardId = remoteColumn._id;
			localColumn.name = remoteColumn.name;
			localColumn.sortOrder = remoteColumn.sortOrder;
			localColumn.boardId = remoteColumn.boardId;
			menuNames['localColumn'] = remoteColumn.name;
		}
		
		//
		// Cards
		//
		var cardSortOrder = 1;
		if (remoteCards && remoteCards.length > 0) {
			cardSortOrder = remoteCards.length + 1;
			// menuNames['localCard'] = "Pick Card";
		}
		var localCard = { cardId : 0, "name" : "", sortOrder : 1, columnId : "0" }
		if (remoteCard) {
			localCard.cardId = remoteCard._id;
			localCard.name = remoteCard.name;
			localCard.sortOrder = remoteCard.sortOrder;
			localCard.columnId = remoteCard.columnId;
			menuNames['localCard'] = remoteCard.name;
		}

		//
		// Columns
		//
		var commentSortOrder = 1;
		if (remoteComments && remoteComments.length > 0) {
			commentSortOrder = remoteComments.length + 1;
			// menuNames['localComment'] = "Pick Column";
		}
		var localComment = { commentId : 0, "name" : "", sortOrder : 1, cardId : "0" }
		if (remoteComment) {
			localComment.commentId = remoteComment._id;
			localComment.name = remoteComment.name;
			localComment.sortOrder = remoteComment.sortOrder;
			localComment.cardId = remoteComment.cardId;
		}
	
	include ./menu.jade
	
	table.columns
		tr
			each column in remoteColumns.columns
				th
					h1= column.name
			th
				form(method="post", action="/w/columns/update", class="form-inline")
					input(type="hidden", name="boardId", value="#{remoteBoard._id}")
					input(type="hidden", name="columnId", value="0")
					input(type="hidden", name="sortOrder", value="#{columnSortOrder}")
					.input-group
						input(name="name" value="", placeholder="", type="text", class="form-control")
						.input-group-btn
							button(type="submit", class="btn btn-default") submit
		tr
			each cards in remoteColumns.cards
				td
					each card in cards
						div.card
							| #{card.name}

	include ./crumbs.jade