extends ../layout

block content
	p 
		| All Boards&nbsp;|&nbsp;
		a(href='/w/boards/0') New Board
		
	h1 Board List
	
	ul
		if boards
			each board in boards
				li
					a(href='/w/boards/#{board._id}') #{board.name}
