extends ../layout

block content
	div.dropdown
		button(class="btn btn-default dropdown-toggle", type="button", id="nav-boards", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
			| Boards
			span(class="caret")
		ul(class="dropdown-menu", aria-labelledby="nav-boards")
			li 
				a(href='/w/boards/0') New Board

	h1 Board List
	
	ul
		if boards
			each board in boards
				li
					a(href='/w/boards/#{board._id}') #{board.name}
