extends ../layout

block content
	p
		a(href="/w/boards") All Boards
		|&nbsp;|&nbsp;New Board
		
	h1 New Board

	form(method="post", action="/w/boards/addboard")
		table
			tr
				td
					input(type="text", name="boardName", placeholder="Board Name")
			tr
				td
					button(type="submit") submit
